<div class="page">
  <div class="page-content">
    <div class="main-page-heading-wrapper">
      <h1 class="main-page-heading">Welcome to Curious Readers</h1>
    </div>
  </div>
  <div>
    <div class="page count-container">
      <div class="page-content">
        <h2 class="books-heading">
          <span>Active Users: <span class="count-num"></span></span>
          <span>Books: <span class="count-num"></span></span>
          <span>Books Genres: <span class="count-num"></span></span>
        </h2>
      </div>
      <div class="page-content">
        <h2 class="books-heading"></h2>
      </div>
    </div>
  </div>
</div>
